*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-medium';
}
html, body {
    height: 100%;
    width: 100%;
}
#nav {
    /* background-color: grey; */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0px 20px;
}
#nav,h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    font-weight: 550;
}
#center {
    width: 100%;
    /* background-color: aqua; */
   padding: 20px 50px;
}
#center h1 {
    font-size: 70px;
    font-weight: 300;
    line-height: 70px;
}
#cenetr-in {
    height: 200px;
    width: 100%;
    /* background-color: red; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#cenetr-in p{
   line-height: 30px;
   font-weight: 580;
}
 #right {
    /* background-color: green; */
    width: 20%;
}

.elem {
    padding: 18px 0px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.elem:hover i{
    opacity: 1;
}
#bottom {
    height: 272px;
    width: 100%;
    background-image: url(glassesphoto2.avif);
    background-size: cover;
    background-position: 0 40%;
}


MONGO_URI=mongodb+srv://Mr-dibya:gobinda8144601427@cluster0.pfph7.mongodb.net/E-commerce?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
CLOUDINARY_API_KEY=135556727638948
CLOUDINARY_API_SECRET=3oy1RkswB-L75vLrgqMrXsiGTYk
CLOUDINARY_NAME=do4bepmry
JWT_SECRET=L75vLrgqMrXsiGTYk
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin12345


VITE_SERVER_URL=http://localhost:4000/ 
